<!DOCTYPE html>
<html lang = 'en'>
  <head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link rel="stylesheet" href="/main.css">
    <link href='https://fonts.googleapis.com/css?family=Neucha' rel='stylesheet' type='text/css'>
  </head>

  <body>
    <%= erb :navbar %>
    <div class = 'container'>
      <div class = 'row spacer'>
      </div>
      <div class = 'row'>
        <div class = 'col-md-9 pull-right text-center'>
          <p class = 'tagline'>We believe that technology should never get in the way.</p>
        </div>
      </div>

      <div class = 'row'>
        <div class = 'col-md-12 spacer2'>
        </div>
      </div>

      <div class = 'row'>
        <div class = 'col-md-9 pull-right text-center'>
          <h2 class = 'help'>Let us help!</h2>
        </div>
      </div>

      <div class = 'row'>
        <div class = 'col-md-12 spacer2'>
        </div>
      </div>

      <div class = 'row'>
        <div class = 'col-md-9 pull-right text-center'>
          <h3>
              <a class = 'main-link btn btn-primary' href = '/repair/'>Repair</a>
              <a class = 'main-link btn btn-primary' href = '/training'>Training</a>
          </h3>
        </div>
      </div>

      <div class = 'row'>
        <div class = 'col-md-9 pull-right text-center'>
          <h3>(Mac &amp PC)</h3>
        </div>
      </div>

      <div class = 'row'>
        <div class = 'col-md-12 spacer1'>
        </div>
      </div>

      <div class = 'row'>
        <div class = 'col-md-12 pull-left'>
          <h3 class = 'promise'>Pick a Time, pick a Place. We'll be there.</h3>
        </div>
      </div>
    </div>
  </body>

</html>
