<!DOCTYPE html>
<html lang = 'en'>
  <head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link rel="stylesheet" href="/main.css">
    <link href='https://fonts.googleapis.com/css?family=Neucha' rel='stylesheet' type='text/css'>
  </head>

  <body>
      <%= erb :navbar %>
    <div class = 'container'>
      <p>We believe that technology should never get in the way.</p>
      <h2>Let us help!</h2>

      <h2>
        <a href = '/repair/'>Repair</a>
        <a href = '/training'>Training</a>
      </h2>
      <h3>(Mac &amp PC)</h3>

      <h3>Pick a Time, pick a Place. We'll be there.</h3>
    </div>
  </body>

</html>
