<!DOCTYPE html>
<html lang = 'en'>
  <head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link rel="stylesheet" href="/main.css">
  </head>

  <body>
    <%= erb :navbar %>
    <h1>Denver Tech</h1>

    <div class = 'row'>

      <div class = 'col-md-offset-3 col-md-6'>
        <h2>Local professionals providing:</h2>
      </div>

      <div class = 'col-md-3'>
        <h3>Mac &amp PC Repair</h3>
        <h3>Software Training</h3>
      </div>

    </div>

    <div class = 'well'>
      <p class = 'text-right'>We believe that technology should never get in the way.</p>
    </div>

    <div class = 'small-spacer'></div>

    <div class = 'well'>
      <div class = 'row'>
        <div class = 'col-md-6 panel'>
          <h3>Repair</h3>
          <ul>
            <li>Cracked Screens</li>
            <li>Broken Keyboards</li>
            <li>Something else</li>
          </ul>
        </div>
        <div class = 'col-md-6 panel'>
          <h3>Training</h3>
          <ul>
            <li>Cracked Screens</li>
            <li>Broken Keyboards</li>
            <li>Something else</li>
          </ul>
        </div>
      </div>
    </div>

    <div class = 'small-spacer'>
    </div>

    <div class = 'well'>
      <p class = 'text-right'>The most reliable, affordable professionals in the Denver area.</p>
    </div>

   
      <div class = 'row'>
        <div class = 'col-md-6 panel'>
          <p>Testemonial</p>
        </div>
        <div class = 'col-md-6 panel'>
          <p>Testemonial</p>
        </div>
      </div>
      <div class = 'row'>
        <div class = 'col-md-6 panel'>
          <p>Testemonial</p>
        </div>
        <div class = 'col-md-6 panel'>
          <p>Testemonial</p>
        </div>
      </div>

      <div class = 'well'>
        <div class = 'row'>
          <div class = 'col-md-6'>
            <p>Questions?</p>
          </div>
          <div class = 'col-md-6'>
            FORM GOES HERE
            <form>
            </form>
          </div>
        </div>
      </div>

  </body>

</html>
