<div class = 'navbar navbar-default navbar-fixed-top'>
  <div class = 'row-flud'>

    <div class = 'pull-right'>
      <div class = 'btn btn-primary'>
        <a class="appointment" href="/contact">Schedule an Appointment</a>
      </div>
    </div>

  </div>
</div>
