<div class = 'navbar navbar-default'>
  <div class = 'row-flud'>
   
    <div class = 'col-md-2 pull-right'>
      <h4>Denver, CO</h4>
    </div>
   

    <div class = 'col-md-1 pull-right'>
      <div class = 'btn btn-default'>
        <a href = '/index'>Home</a>
      </div>
    </div>

    <div class = 'col-md-1 pull-right'>
      <div class = 'btn btn-default'>
        <a href = '/contact'>Contact Us</a>
      </div>
    </div>

  </div>
</div>
