/* LAYOUT ========================
 */
.spacer {
  margin-top: 100px;
}

.small-spacer {
  margin-top: 30px;
  margin-bottom: 30px;
}

/* GENERAL STYLING ================
 */
h1, h2, h3, p {
  font-family: 'Open Sans', sans-serif;
}

body {
  background-color: #67ABB8
}

/* HEADER ==========================
 */

.home, .contact {
  float: right;
 } 

.btn, btn-primary {
  background-color: transparent;
  border-width: 2px;
  border-color: white;
  border-radius: 23px;
  margin-top: 5px;
  margin-right: 20px;
}

.navbar {
  background-color: transparent;
  border: none;
}

.appointment {
  color: white;
}


/* Specific Styling ================
 */
.name {
  font-size: 5em;
  color: #EEE;
  letter-spacing: 0.2em;
}

.cheese {
  font-size: 1.5em;
}

.prof {
  color: #EEE;
  text-align: center;
}
.service {
  color: white;
}
.well {
  padding-top: 8px;
  padding-bottom: 3px;
}
