/* GENERAL STYLING ================
 */
h1, h2, h3, p {
  font-family: 'Neucha', cursive;
}

body {
  background-color: #67ABB8
}

/* HEADER ==========================
 */

.home, .contact {
  float: right;
 } 

.btn, btn-primary {
  background-color: transparent;
  border-width: 2px;
  border-color: white;
  border-radius: 23px;
  margin-top: 5px;
  margin-right: 20px;
}

.navbar {
  background-color: transparent;
  border: none;
}

.appointment {
  color: white;
}

 
 /* body of front page ===============
  */
.spacer {
  margin-top: 100px;
}



