/* GENERAL STYLING ================
 */
h1, h2, h3, p {
  font-family: 'Neucha', cursive;
}

body {
  background-color: #67ABB8
}

/* HEADER ==========================
 */

.denver, .home, .contact {
  float: right;
 } 
